@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .basic-section {
    @apply w-full lg:w-5/6 p-3 flex flex-col justify-between items-center
  }
}

details {
  position: relative;
  width: 100%;
  background-color: #ffffffe6;
  border: 0.5px solid rgb(206, 206, 206);
  transition: all 0.3s ease;
}

details summary + div {
  max-height: 0px;
}

details:hover {
  background-color: #ffffff;
}

details:first-child {
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}

details:last-child {
  border-bottom-left-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

summary {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  color: #00000099;
  font-size: 1rem;
  line-height: 1.5rem;
  letter-spacing: normal;
  cursor: pointer;
  transition: 0.3s;
}

details > summary::-webkit-details-marker {
  display: none;
}

summary::after {
  content: url(../public/downArrow.svg);
  height: 1.5rem;
  transition: 0.3s;
}

details[open] {
  background-color: #ffffffbf;
  backdrop-filter: blur(20px);
  border-left: 0.5px solid #ffffff33;
  border-right: 0.5px solid #ffffff33;
  border-bottom: 1rem solid #ffffff33;
  background-clip: padding-box;
}

details[open] summary + div {
  max-height: 2000px;
}

details[open]:last-child {
  border-width: 0.5px;
}

details[open] summary {
  height: 4rem;
  font-size: 0.9375rem;
  line-height: 0.9375rem;
}

details[open] summary::after {
  transform: rotate(180deg);
}
